<!-- App navbar desktop -->
<nav class="bg-white shadow-md hidden md:block">
  <div class="px-4 sm:px-6 lg:px-4">
    <div class="flex justify-between items-center h-20">
      <!-- Logo and Title -->
      <div class="flex items-center">
        <img src="assets/images/logobo.png" alt="Logo" class="h-16 w-16 mr-3">
        <div class="text-left">
          <div class="text-maincolor-customorange font-normal">BỘ NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN</div>
          <div class="text-maincolor-darkblue font-bold text-2xl">PHẦN MỀM QUẢN LÝ TÀI SẢN CÔNG</div>
        </div>
      </div>

      <!-- Navigation Items -->
      <div class="flex items-center space-x-4">
        <!-- Year Picker -->
        <div class="mr-2">
          <div>
            <p-calendar 
              [(ngModel)]="nam"
              view="year"
              dateFormat="yy"
              [yearNavigator]="true"
              yearRange="1950:2030"
              [readonlyInput]="true"
              inputId="nam"
              [showIcon]="true" 
              (onChange)="onYearChange($event)"
            ></p-calendar>
          </div>
        </div>

        <!-- Notification Icon -->
        <button class="text-maincolor hover:text-blue-700 flex items-center">
          <div class="flex items-center">
            <div class="relative inline-block mr-1">
              <!-- Icon chuông -->
              <i class="fas fa-bell text-lg pt-1"></i>
              <!-- Dấu chấm đỏ -->
              <span class="absolute top-0 right-0 inline-block w-1.5 h-1.5 bg-red-500 rounded-full pt-1"></span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </div>
        </button>
      
        <!-- User Dropdown -->
        <div class="relative">
          <button class="flex items-center text-maincolor hover:text-blue-700">
            <i class="fa-regular fa-user mr-1"></i>
            <span class="mr-1">Tổng cục Thủy lợi</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 " viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
          <!-- Dropdown menu items would go here -->
        </div>
      
        <!-- Document Dropdown -->
        <div class="relative">
          <button class="flex items-center text-maincolor hover:text-blue-700">
            <i class="fa-solid fa-book mr-1"></i>
            <span class="mr-1">Tài liệu HD</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
          <!-- Dropdown menu items would go here -->
        </div>
      
        <!-- Logout Button -->
        <button class="text-maincolor hover:text-blue-700 flex items-center">
          <i class="fa-solid fa-right-from-bracket mr-1"></i>
          <span class="">Thoát</span>
        </button>
      </div>
    </div>
  </div>
</nav>

<nav class="bg-maincolor py-1">
  <div class="mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative h-12 sm:h-7 flex items-center justify-between">
      <!-- Logo and Title for mobile -->
      <div class="flex items-center sm:hidden">
        <img src="assets/images/logobo.png" alt="Logo" class="h-12 w-12">
      </div>
      
      <!-- Title for mobile -->
      <div class="text-white font-semibold text-sm sm:hidden text-center flex-1">
        PHẦN MỀM QUẢN LÝ TÀI SẢN CÔNG
      </div>

      <!-- Mobile menu button -->
      <div class="sm:hidden">
        <button type="button" id="mobile-menu-button-2" class="relative inline-flex items-center justify-center rounded-md p-2 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu-2" aria-expanded="false" (click)="toggleMobileMenu()">
          <span class="sr-only">Open menu</span>
          <svg *ngIf="!isMobileMenuOpen" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg *ngIf="isMobileMenuOpen" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Desktop menu -->
      <div class="hidden sm:flex justify-start items-center space-x-8 h-7 w-full">
        <a (click)="selectMenuItem('asset')" 
           href="/asset"
           class="flex items-center cursor-pointer"
           [ngClass]="{'text-white hover:text-yellow-300': getSelectedMenuItem() !== 'asset', 'text-yellow-300': getSelectedMenuItem() === 'asset'}">
          <i class="fas fa-building mr-2"></i> TÀI SẢN
        </a>
        <a (click)="selectMenuItem('exchange-use-info')" 
           href="/exchange-use-infomation"
           class="flex items-center cursor-pointer"
           [ngClass]="{'text-white hover:text-yellow-300': getSelectedMenuItem() !== 'exchange-use-info', 'text-yellow-300': getSelectedMenuItem() === 'exchange-use-info'}">
          <i class="fas fa-exchange-alt mr-2"></i> THÔNG TIN GIAO/SỬ DỤNG
        </a>
        <a (click)="selectMenuItem('category')" 
           href="/category"
           class="flex items-center cursor-pointer"
           [ngClass]="{'text-white hover:text-yellow-300': getSelectedMenuItem() !== 'category', 'text-yellow-300': getSelectedMenuItem() === 'category'}">
          <i class="fas fa-list mr-2"></i> DANH MỤC
        </a>
        <a (click)="selectMenuItem('look-up')" 
           href="/look-Up"
           class="flex items-center cursor-pointer"
           [ngClass]="{'text-white hover:text-yellow-300': getSelectedMenuItem() !== 'look-up', 'text-yellow-300': getSelectedMenuItem() === 'look-up'}">
          <i class="fas fa-search mr-2"></i> TRA CỨU
        </a>
        <a (click)="selectMenuItem('system')" 
           href="/system"
           class="flex items-center cursor-pointer"
           [ngClass]="{'text-white hover:text-yellow-300': getSelectedMenuItem() !== 'system', 'text-yellow-300': getSelectedMenuItem() === 'system'}">
          <i class="fas fa-cog mr-2"></i> HỆ THỐNG
        </a>
        <a (click)="selectMenuItem('report')" 
           href="/report"
           class="flex items-center cursor-pointer"
           [ngClass]="{'text-white hover:text-yellow-300': getSelectedMenuItem() !== 'report', 'text-yellow-300': getSelectedMenuItem() === 'report'}">
          <i class="fas fa-chart-pie mr-2"></i> BÁO CÁO
        </a>
        <a (click)="selectMenuItem('support')" 
           href="/support"
           class="flex items-center cursor-pointer"
           [ngClass]="{'text-white hover:text-yellow-300': getSelectedMenuItem() !== 'support', 'text-yellow-300': getSelectedMenuItem() === 'support'}">
          <i class="fas fa-headset mr-2"></i> HỖ TRỢ
        </a>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div [class.hidden]="!isMobileMenuOpen" class="sm:hidden" id="mobile-menu-2">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-blue-600">
        <i class="fas fa-home mr-2"></i> TRANG CHỦ
      </a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-blue-600">
        <i class="fas fa-cog mr-2"></i> HỆ THỐNG
      </a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-blue-600">
        <i class="fas fa-list mr-2"></i> DANH MỤC
      </a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-blue-600">
        <i class="fas fa-file-alt mr-2"></i> NHẬP DỮ LIỆU
      </a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-blue-600">
        <i class="fas fa-chart-pie mr-2"></i> BÁO CÁO
      </a>
      
      <div class="border-t border-yellow-400 my-2"></div>
      
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-blue-600">
        <i class="fas fa-user mr-2"></i> TỔNG CỤC THỦY LỢI
      </a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-blue-600">
        <i class="fas fa-question-circle mr-2"></i> HỎI ĐÁP
      </a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-blue-600">
        <i class="fas fa-sign-out-alt mr-2"></i> THOÁT
      </a>
      </div>
  </div>
</nav>

<nav class="bg-maincolor-bg py-1">
  <div class="mx-auto px-2 sm:px-6 lg:px-3">
    <div class="relative h-12 sm:h-7 flex items-center justify-between">
      <!-- Mobile menu button -->
      <div class="sm:hidden">
          <button type="button" 
          id="mobile-menu-button-2" 
          (click)="toggleSidebar()"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-black hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" 
          aria-controls="mobile-menu-2" 
          [attr.aria-expanded]="isSidebarOpen">
            <span class="sr-only">Open menu</span>
            <svg  class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
      <!-- Title for mobile -->
      <div class="text-maincolor-darkblue font-semibold text-sm sm:hidden text-center flex-1">
          BỘ NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN <a class="ml-2 text-maincolor"> / </a> <a href="#" class="text-maincolor font-normal ml-2"> Văn phòng Tổng cục thủy lợi</a>
      </div>

      

      <!-- Desktop menu -->
      <div class="hidden sm:flex justify-start items-center space-x-8 h-7 w-full">
        <button (click)="toggleSidebar()" class="block p-2 focus:outline-none">
          <svg  class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
        
        <div class="text-maincolor-darkblue font-bold text-sm sm:block text-left flex-1">
          BỘ NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN <a class="ml-2 text-maincolor"> / </a>   
          <a href="#" class="text-maincolor font-normal ml-2 hover:underline hover:underline-offset-4 hover:decoration-maincolor hover:decoration-1 transition duration-300 ease-in-out"> Văn phòng Tổng cục thủy lợi</a>
        </div>
      </div>
    </div>
  </div>
</nav>