<footer class="bg-maincolor-bg py-4 w-full">
  <div class="w-full px-4">
    <div class="bg-white shadow-md p-4 flex justify-between items-center">
      <div class="flex flex-col">
        <h3 class="font-normal text-lg text-maincolor">BỘ NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN</h3>
        <p class="text-sm"><i class="fas fa-map-marker-alt mr-2"></i>Số 2 Ngọc Hà - Quận Ba Đình - Hà Nội</p>
        <p class="text-sm"><i class="fas fa-phone-alt mr-2"></i>024.3843.9901</p>
        <p class="text-sm"><i class="fas fa-envelope mr-2"></i></p>
      </div>
      <div class="text-right flex flex-row">
        <p class="text-sm font-normal mr-1">Đường dây nóng</p>
        <p class="text-sm font-bold">024.3843.9901</p>
      </div>
    </div>
  </div>
</footer>